
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

body {
    touch-action: manipulation;
}

img {
    transform: scale(1);
    -webkit-user-drag: none;
    pointer-events: none; /* 필요 시 클릭도 차단 */
}